#menu-1{
    height: 50px;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-1 div:hover {
    transform: scale(1);
    opacity: 1;
}


/* menu-1-left   start */
#menu-1-left {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    position: relative;
    opacity: .5;
    transform: scale(.6);
}

.circle{
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
}
#menu-1-left-more{
    height: 40px;
    width: 40px;
}
#menu-1-left-more div{
    height: 40px;
    width: 40px;
    background-image: url(../img/svg/列表2.svg);
    background-size: cover;
    background-position: center;
}
/* menu-1-left   end */

/* menu-1-center   start */
#menu-1-center{
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: space-between;
}
#menu-1-center div{
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;

}
#menu-1-center div:nth-child(2n-1){
    opacity: .5;
    transform: scale(.6);
}
#menu-1-center div:hover{
    transform: scale(1);
    opacity: 1;
}
/* menu-1-center   end */

/* menu-1-right   start */
#menu-1-right{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/svg/搜索.svg);
    opacity: .5;
    transform: scale(.6);
}
/* menu-1-right   end */

/* 播放界面 */
#play-my-menu-1-center{
    opacity: .5;
    transform: scale(.6);
}
#play-my-menu-1-center:hover{
    transform: scale(1);
    opacity: 1;
}
#play-menu-1-left {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    position: relative;
    opacity: .5;
    transform: scale(.6);
}
#play-menu-1-center{
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: space-between;
}
#play-menu-1-center div{
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;

}
#play-menu-1-center div:nth-child(2n-1){
    opacity: .5;
    transform: scale(.6);
}
#play-menu-1-center div:hover{
    transform: scale(1);
    opacity: 1;
}
#play-menu-1-right{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/svg/搜索.svg);
    opacity: .5;
    transform: scale(.6);
}
#menu-1-play{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0);
}
#menu-1-play-back{
    height: 40px;
    width: 40px;
    margin-left: 5%;
}
#menu-1-play-back div{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/svg/返回.svg);
}
#menu-1-play-info{
    height: 40px;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: 5%;
}
#menu-1-play-info div:nth-child(1){
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: whitesmoke;

}
#menu-1-play-info div:nth-child(2){
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: gray;

}
#menu-1-play-share{
    height: 40px;
    width: 40px;
    margin-right: 5%;
}
#menu-1-play-share div{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/svg/分享.svg);
}
.img{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
}

#time-bar{
    height: 40px;
    width:90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#time-bar-start{
    height: 20px;
    font-size: 12px;
    color: whitesmoke;
}
#time-bar-end{
    height: 20px;
    font-size: 12px;
    color: gray;
}
#time-bar-line{
    height: 20px;
    flex: 1;
    display: flex;
    align-items: center;
}
#time-bar-line div:nth-child(1){
    height: 7px;
    width: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    animation: move 80s linear infinite;
}
#time-bar-line div:nth-child(2){
    height: 3px;
    background-color: gray;
    border-radius: 4px;
    flex: 1;
}

@keyframes move {
    50%{
        flex: 1;
    }
    80%{
        flex: 4;
    }
}

#play-option{
    height: 40px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#play-option div:nth-child(3){
    position: relative;
}
#play-option div:nth-child(3) div{
    height: 20px;
    font-size: 8px;
    line-height: 10px;
    color: gray;
    position: absolute;
    top: 0;
    right: -20px;
}

